body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("images/gallery-background.jpg");
    }

#navbar {
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      display: block;
      transition: top 0.3s;
    }


.text {
    position:static;
    width:700px;
    font-size:90px;
    text-align: center;
    
}
.sub-text {
    position: static;
    width: 700px;
    font-size:30px;
    text-align: center;
    
}
.home-image{
    position: absolute;
    left:800px;
    border-style:solid;
}
#navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-size: 17px;
    }

#navbar a:hover {
      background-color: #ddd;
      color: black;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,body{
    height:100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 250px 100px;
    grid-gap:10px;
    height:100%;
    background-image: url("images/gallery-background.jpg");
}

.container1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 250px 100px;
    top:50px;
    color: white;
}

.item{
    border-width: 5px;
    border-color: aqua;
}

.figure{
    object-fit: cover;
    width: 100%;
    height:100%;
    
}
div{
    position: relative;
}

.title{
    position: absolute;
    top;0;
    background-color: rgba(255,255,255,0.5)
}

@media(min-width:1000px){
    .item:nth-child(2n)
        grid-column: span 2;
        
}

.A{
    grid-row: span 4;
}

.B{
    
    grid-row: span 2;
}

.C{
    grid-row: span 1;
}

.D{
    grid-row: span 17;
}

.E{
    grid-row: span 5;
}

.F{
    grid-row: span 4;
}

.G{
    grid-row: span 22;
}

.H{
    grid-row: span 2;
}

.I{
    grid-row: span 5;
}

.J{
    grid-row: span 5;
}

.K{
    grid-row: span 3;
}

.L{
    grid-row: span 6;
}

.M{
    grid-row: span 2;
}

.N{
    grid-row: span 1;
}

.O{
    grid-row: span 5;
}

.P{
    grid-row: span 9;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}